@font-face {
  font-family: "Gotham Narrow";
  src: url("/fonts/GothamNarrow-Regular.woff2") format("woff2"),
    url("/fonts/GothamNarrow-Regular.woff") format("woff"),
    url("/fonts/GothamNarrow-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: black;
  font-family: "Gotham Narrow", sans-serif;
  font-weight: normal;
  font-style: normal;
}
